Repository hyper-form/hyper-form: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint "**/*.md"

docs: add README.md
  .markdownlint.js
  .markdownlint.jsonc
  .markdownlintignore
  README.md
  README_EN.md
Due: eslint, markdownlint "**/*.md"

docs: correct requirements
  README.md
  README_EN.md
Due: markdownlint "**/*.md"

feat(core): add changers and methods
  packages/core/src/changers/dirty.ts
  packages/core/src/changers/editing.ts
  packages/core/src/changers/field.ts
  packages/core/src/changers/form.ts
  packages/core/src/changers/index.ts
  packages/core/src/changers/value.ts
  packages/core/src/index.ts
  packages/core/src/methods/disabled.ts
  packages/core/src/methods/index.ts
  packages/core/src/methods/validate.ts
  packages/core/src/methods/visibility.ts
Due: eslint

feat(core): adjust for store definition
  packages/core/src/stores/form.ts
Due: eslint

feat(core): apply changer for textbox
  packages/core/src/components/HTextBox.tsx
  packages/core/src/hooks/h-textbox.ts
Due: eslint

feat(core): finish some hook feature
  packages/core/src/hooks/field-disabled.ts
  packages/core/src/hooks/field-value.ts
  packages/core/src/hooks/field-visibility.ts
  packages/core/src/hooks/h-form.ts
  packages/core/src/hooks/h-textbox.ts
  packages/core/src/stores/form.ts
Due: eslint

test(core): adjust for mock store
  packages/core/src/__test__/mocks/stores/form.ts
Due: eslint

test(core): add field disabled hook test
  packages/core/src/__test__/hooks/field-disabled.test.tsx
Due: eslint

chore(zustand): temporary remove build script
  packages/zustand/package.json
Due: none

chore: add global build and test script
  package.json
Due: none

ci: add global ci script
  .github/workflows/ci.yml
Due: none

ci: add pnpm install cache configure
  .github/workflows/ci.yml
Due: none

chore: support jsonc and yaml files lint
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: eslint

style: adjust ci/cd script style
  .github/workflows/ci.yml
Due: none

test(core): add test for field value hook
  packages/core/src/__test__/hooks/field-value.test.tsx
Due: eslint

ci: disable auto run ci script
  .github/workflows/ci.yml
Due: none

style(core): adjust code style to use lodash
  packages/core/src/__test__/mocks/stores/form.ts
Due: eslint

feat(core): correct incorrect usage
  packages/core/src/hooks/h-form.ts
Due: eslint

test(core): add test for field visibility hook
  packages/core/src/__test__/hooks/field-visibility.test.tsx
Due: eslint

feat(core): support form for changers
  packages/core/src/changers/dirty.ts
  packages/core/src/changers/editing.ts
  packages/core/src/changers/field.ts
  packages/core/src/changers/value.ts
  packages/core/src/components/HTextBox.tsx
  packages/core/src/hooks/h-textbox.ts
Due: eslint

feat(core): make di container can access without react hook
  packages/core/src/components/HFormProvider.tsx
  packages/core/src/errors/container-error.ts
  packages/core/src/hooks/h-form-provider.ts
  packages/core/src/share/container.ts
Due: eslint

fix(core): solve for not reset container bugs
  packages/core/src/hooks/h-form-provider.ts
  packages/core/src/share/container.ts
Due: eslint

feat(core): solve for basic structure for value changer
  packages/core/src/changers/value.ts
Due: eslint

feat: execute pnpm up to keep denpendency new
  package.json
  pnpm-lock.yaml
Due: none

feat(core): install some required dependency
  packages/core/package.json
  pnpm-lock.yaml
Due: none

feat(core): solve for visibility method handle
  packages/core/src/errors/visibility-method-error.ts
  packages/core/src/methods/visibility.ts
Due: eslint

feat(core): adjust for default error message for mapping error code
  packages/core/src/errors/validate-method-error.ts
Due: eslint

feat(core): adjust for error usage and add method parameters
  packages/core/src/methods/visibility.ts
Due: eslint

style(core): adjust for error code style
  packages/core/src/errors/validate-method-error.ts
Due: eslint

feat(core): add default error message for visibility method error
  packages/core/src/errors/visibility-method-error.ts
Due: eslint

feat(core): solve for validate method handle
  packages/core/src/methods/validate.ts
Due: eslint

fix(core): correct for incorrect message
  packages/core/src/errors/visibility-method-error.ts
Due: eslint

feat(core): add disabled method error
  packages/core/src/errors/disabled-method-error.ts
Due: eslint

fix(core): solve for incorrect error class name
  packages/core/src/errors/disabled-method-error.ts
Due: eslint

feat(core): solve for disabled method handle
  packages/core/src/methods/disabled.ts
Due: eslint

chore(core): add events directory
  packages/core/src/events/.gitkeep
Due: none

feat(core): init guard file
  packages/core/src/share/guard.ts
Due: eslint

feat(react): move react ui part to independent package
  packages/core/src/errors/index.ts
  packages/core/src/index.ts
  packages/core/src/share/index.ts
  packages/react/babel.config.js
  packages/react/jest.config.ts
  packages/react/package.json
  packages/react/rollup.config.ts
  packages/react/src/__test__/components/HTextBox.test.tsx
  packages/react/src/__test__/hooks/field-disabled.test.tsx
  packages/react/src/__test__/hooks/field-value.test.tsx
  packages/react/src/__test__/hooks/field-visibility.test.tsx
  packages/react/src/__test__/hooks/filed-name.test.tsx
  packages/react/src/__test__/hooks/form-name.test.tsx
  packages/react/src/__test__/mocks/stores/form.ts
  packages/react/src/__test__/mocks/ui/TextBox.tsx
  packages/react/src/components/HBind.tsx
  packages/react/src/components/HForm.tsx
  packages/react/src/components/HFormProvider.tsx
  packages/react/src/components/HTextBox.tsx
  packages/react/src/components/index.tsx
  packages/react/src/contexts/FieldNameContext.ts
  packages/react/src/contexts/FormNameContext.ts
  packages/react/src/errors/field-error.ts
  packages/react/src/errors/form-error.ts
  packages/react/src/errors/index.ts
  packages/react/src/hooks/field-disabled.ts
  packages/react/src/hooks/field-name.ts
  packages/react/src/hooks/field-value.ts
  packages/react/src/hooks/field-visibility.ts
  packages/react/src/hooks/form-name.ts
  packages/react/src/hooks/h-form-provider.ts
  packages/react/src/hooks/h-form.ts
  packages/react/src/hooks/h-textbox.ts
  packages/react/src/index.ts
  packages/react/src/ui/TextBox.ts
  packages/react/src/ui/index.ts
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
Due: eslint

feat(core): remove some jsx and tsx build config
  packages/core/rollup.config.ts
  packages/core/src/__test__/.gitkeep
  packages/core/tsconfig.json
Due: eslint

feat(core): move back error to solve dependency loop issue
  packages/core/src/errors/field-error.ts
  packages/core/src/errors/form-error.ts
  packages/react/src/errors/index.ts
  packages/react/src/index.ts
Due: eslint

Path conditions:
  eslint: (((any of: *.ts) or (any of: *.js)) or (any of: *.tsx)) or (any of: *.jsx)
  markdownlint "**/*.md": any of: *.md
